body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

h1, h2, p {
    margin: 1em auto;
    text-align: center;
}

hr {
    border-color: #3b3b4f;
}

#debug-section {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 1em;
    margin-bottom: 2em;
}

#error-message {
    background-color: #ff6347;
    color: #ffffff;
    padding: 1em;
    margin-bottom: 2em;
}

.agent-logout-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3b3b4f;
    color: #f5f6f7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}